{% extends "common/base.html" %}

{% block title %}ESXi Monitor & Control{% endblock %}

{% block content %}
<label for="esxiHost">ESXi Host: <img src="/static/img/esxi-host-icon.png" /></label>
<select id="esxiHost" class="selectpicker show-tick" data-style="btn-inverse" data-width="auto">
{% for host in esxi_hosts %}
	<option value="{{host.id}}">{{host.name}} ({{host.ip_addr}})</option>
{% endfor %}
</select>
<div id="hostDetailsArea">
</div>
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-body">
	  <img src="/static/img/loading.gif" />
	</div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block extra_scripts %}
	<script src="/static/ESXi/esxi.js" type="text/javascript"></script>
{% endblock %}
