{% load silly_url %}
{% load navbar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Itamar Ostricher">

    <title>{% block title %}Home Control{% endblock %}</title>

    <link href="/static/bootstrap/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
    <link href="/static/common/styles.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Home Control</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
			{% for lookup_view, text in navbar_apps %}
			<li class="{% nav_item_active lookup_view %}"><a href="{% silly_url lookup_view %}">{{text}}</a></li>
			{% endfor %}
            <li><a href="#">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	
    <div class="container">
		{% block content %}{% endblock %}
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="/static/assets/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap-select.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="{% silly_url 'js_reverse' %}" type="text/javascript"></script>
    <script src="/static/assets/js/holder.js"></script>
    <script src="/static/assets/js/purl.js"></script>
	{% block extra_scripts %}{% endblock %}
  </body>
</html>
