# Local Django settings for HomeControlWeb project (overriding generic setting.py).

DEBUG = False
TEMPLATE_DEBUG = DEBUG

# Hosts/domain names that are valid for this site; required if DEBUG is False
# See https://docs.djangoproject.com/en/1.5/ref/settings/#allowed-hosts
ALLOWED_HOSTS = ['https://your.domain.com', ]

# Absolute filesystem path to the directory that will hold user-uploaded files.
# Example: "/var/www/example.com/media/"
MEDIA_ROOT = '/var/www/home-control-web/media'

# Additional locations of static files
STATICFILES_DIRS = (
    # Put strings here, like "/home/html/static" or "C:/www/django/static".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
    '/var/www/home-control-web/static',
)

# Make this unique, and don't share it with anybody.
SECRET_KEY = '#hhpd0s&!dn)&!ki#q+!ncx6n7=%jzbkj=g1uu5k-8_#1k+*6a'

# Secret password for Silly Auth authentication middleware
#SILLY_AUTH_PASS = ''

# Any other setting from settings.py you'd like to override...
